@import "../../scss/vendor/mixins";

// ------------------- //
  // SOCIAL POST ------------------- //
// ------------------- //

social-post {
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: table;
  table-layout: fixed;
  height: 100vh !important;
  width: 100%;

  // OVERLAY -------------- //

  .sp-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  // BUTTON -------------- //

  .sp-close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    font-size: 24px;
    span {
      color: rgba(255, 255, 255, 0.7);
      @include transition(all, 0.3s, ease-in-out);
    }
    &:hover {
      span {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .sp-prev {}
  .sp-next {}

  // WRAPPER -------------- //

  .sp-wrapper {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .sp-container {
    text-align: left;
    display: inline-block;
    position: static;
    margin: 20px;
  }

  .sp-content {
    position: relative;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .3);
    background-color: #000;
  }

  // BODY -------------- //

  .sp-body {
    color:  white;
    float: left;
    height: 100%;
    position: relative;
  }

  @import "./SocialPostBody";

  // SIDEBAR -------------- //

  .sp-sidebar {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
  }

  @import "./SocialPostSideBar";

  /* TEST --------------------------- */

  .sp-content,
  .sp-body {
    //min-height: 300px;
    overflow: hidden;
  }


  /* XS --------------------------- */

  @include bp(xs){
    .sp-container,
    .sp-content,
    .sp-body,
    .sp-sidebar {
      width: 100%;
    }
    .sp-container {
      margin: 0 !important;
    }
    .sp-body {
      height: 90vh;
      float: none;
    }
  }

  /* SM --------------------------- */

  @include bp(sm){
    min-width: 1060px;   
    .sp-content {
      padding-right: 300px;
    } 
    .sp-body {
      //width: 400px;
    }
    .sp-sidebar {
      width: 300px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  /* MD --------------------------- */

  @include bp(md){
    min-width: 1060px; 
    .sp-content {
      padding-right: 360px;
    } 
    .sp-body {
      //width: 600px;
    }
    .sp-sidebar {
      width: 360px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .sp-body-content {
      &.sp--embed {
        display: inline-table;
        width: 100%;
        vertical-align: middle;
      }
    }

  }

  /* LG --------------------------- */

  @include bp(lg){
    .sp-body {
      //width: 980px;
    }
    .sp-content {
      padding-right: 360px;
    } 
    .sp-sidebar {
      width: 360px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  /* EVENTS --------------------------- */

  .__fullscreen {
    .sp-content {
      box-shadow: 0 12px 24px transparent;
      background: transparent !important;
      padding-right: 0 !important;
    }
  }

}